@model CreateFooterAdressDto
@{
	ViewData["Title"] = "Yazar Oluştur";
	Layout = "~/Views/AdminLayout/Index.cshtml";
}


<div class="page-content">
	<div class="container-fluid">

		<!-- page content -->
		<div class="row">
			<div class="col-xl-12">

				<div class="card">
					<div class="card-body">

						<h4 class="card-title">Yeni Adres Bilgisi Girişi</h4>
						<p class="card-subtitle mb-4">Adres alanına ait bilgileri aşağıdaki panelden girebilirsiniz.</p>

						<form method="post">

							<div class="form-group">
								<label >Adres </label>
								<input type="text" class="form-control" asp-for="Adress" placeholder="Adres bilgisini giriniz.">
								<label>Açıklama:</label>
								<input type="text" class="form-control" asp-for="Description"  placeholder="İletişim açıklaması giriniz.">
								<label>Telefon Numarası:</label>
								<input type="text" class="form-control" asp-for="Phone"  placeholder="Telefon numarası giriniz.">
								<label>EMail</label>
								<input type="email" class="form-control" asp-for="Email" placeholder="E posta adresi giriniz.">




							</div>


							<button type="submit" class="btn btn-primary waves-effect waves-light">Adresi Kaydet</button>
						</form>
					</div>
				</div>
			</div>
		</div>

	</div>

</div>

