@model List<ResultFooterAdressDto>
@{
	ViewData["Title"] = "Index";
	Layout = "~/Views/AdminLayout/Index.cshtml";
	int count = 0;
}

<div class="page-content">
	<div class="container-fluid">

		<!-- page content -->
		<div class="row">
			<div class="col-xl-12">
				<div class="card">
					<div class="card-body">
						<h4 class="card-title">İletişim ve Footer Alanı Adres Sayfası</h4>
						<p class="card-subtitle mb-4">
							İletişim ve Footer kısımlarında yer alan adres bilgilerine ait işlemleri bu sayfadan gerçekleştirebilirsiniz. Harita bilgisini lokasyon değeri olarak Google Map üzerinden alabilirsiniz.
						</p>
						<div class="table-responsive">
							<table class="table mb-0">
								<thead>
									<tr>
										<
										<th>Adres</th>
										<th>Telefon</th>
										<th>EMail</th>
										<th>Açıklama</th>



									</tr>
								</thead>
								<tbody>
									@foreach (var item in Model)
									{
										count++;
										<tr>

											<td>@item.Adress</td>
											<td>@item.Phone</td>
											<td>@item.Email</td>
											<td>@item.Description</td>


											<td>
												<div class="btn-group">
													<a href="/Admin/AdminFooterAdress/RemoveFooterAdress/@item.FooterAdressId" class="btn btn-outline-danger mx-1">Sil</a>
													<a href="/Admin/AdminFooterAdress/UpdateFooterAdress/@item.FooterAdressId" class="btn btn-outline-success mx-1">Güncelle</a>
													<a href="/Admin/AdminFooterAdress/UpdateFooterAdress/">



												</div>




											</td>

										</tr>
									}


								</tbody>
							</table>
							<a href="/Admin/AdminFooterAdress/CreateFooterAdress/" class="btn btn-outline-primary">Yeni İletişim ve Footer Adresi Girişi</a>
						</div>

					</div>
				</div>
			</div>
		</div>
	</div>
</div>

