@model CreateFeatureDto
@{
	ViewData["Title"] = "Özellik Oluştur";
	Layout = "~/Views/AdminLayout/Index.cshtml";
}


<div class="page-content">
	<div class="container-fluid">

		<!-- page content -->
		<div class="row">
			<div class="col-xl-12">

				<div class="card">
					<div class="card-body">

						<h4 class="card-title">Yeni Özellik Girişi</h4>
						<p class="card-subtitle mb-4">Araç özellikleri ile ilgili temel bilgileri eksiksiz doldurmanız önemlidir. Veri girişlerinden sonra kaydet butonuna tıklayarak işlemi tamamlayabilirsiniz.</p>

						<form method="post">
							
							<div class="form-group">
								<label for="exampleInputModel">Özellik Adı</label>
								<input type="text" class="form-control" asp-for="Name" id="exampleInputFeatureName" placeholder="Özellik adı yazınız.">
							</div>
							

							<button type="submit" class="btn btn-primary waves-effect waves-light">Özelliği Kaydet</button>
						</form>

					</div> <!-- end card-body-->
				</div> <!-- end card-->

			</div>
			<!-- end card-body-->
		</div>
		<!-- end card -->

	</div>

</div>

