@model UpdateSocialMediaDto
@{
	ViewData["Title"] = "Hizmet Oluştur";
	Layout = "~/Views/AdminLayout/Index.cshtml";
}


<div class="page-content">
	<div class="container-fluid">
		<div class="row">
			<div class="col-xl-12">
				<div class="card">
					<div class="card-body">
						<h4 class="card-title">Hizmet Sayfası Veri Girişi</h4>
						<p class="card-subtitle mb-4">Kullandığınız sosyal medya hesap bilgilerini ekleyebileceğiniz bir sayfadır..</p>
						<form method="post">
							<input type="hidden" asp-for="SocialMediaId"/>
							<div class="form-group">
								<label for="exampleInputName">Sosyal Medya Adı </label>
								<input type="text" class="form-control" asp-for="Name" id="exampleInputName" placeholder="Sosyal Medya Adı giriniz...">
								<label for="exampleInputUrl"> Url </label>
								<input type="text" class="form-control" asp-for="Url" id="exampleInputUrl" placeholder="Url bilgisi giriniz...">
								<label for="exampleInputIcon">Hizmet Icon Url </label>
								<input type="text" class="form-control" asp-for="Icon" id="exampleInputIcon" placeholder="Sosyal Medya İcon Url bilgisini giriniz...">
							</div>
							<button type="submit" class="btn btn-primary waves-effect waves-light">Sosyal Medya Bilgisini Güncelle</button>
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

