@model UpdateAuthorDto
@{
	ViewData["Title"] = "Yazar Güncelle";
	Layout = "~/Views/AdminLayout/Index.cshtml";
}


<div class="page-content">
	<div class="container-fluid">

		<!-- page content -->
		<div class="row">
			<div class="col-xl-12">

				<div class="card">
					<div class="card-body">

						<h4 class="card-title">Yazar Bilgisi Güncelleme Sayfası</h4>
						<p class="card-subtitle mb-4">Yazarlarla ilgili güncelleme işlemlerinin gerçekleştireleceği sayfadır. </p>

						<form method="post">

							<div class="form-group">
								<input type="hidden" asp-for="authorId" />
								<label for="exampleInputModel">Ad Soyad </label>
								<input type="text" class="form-control" asp-for="name" id="exampleInputAuthorTitle" placeholder="Yazar adı yazınız.">
								<label for="exampleInputModel">Açıklama:</label>
								<input type="text" class="form-control" asp-for="description" id="exampleInputAuthorDesciption" placeholder="Yazar açıklaması yazınız.">
								<label for="exampleInputModel">Yazar Görseli</label>
								<input type="text" class="form-control" asp-for="imageUrl" id="exampleInputAuthorVideoDescription" placeholder="Yazar Görsel adresini giriniz.">



							</div>


							<button type="submit" class="btn btn-primary waves-effect waves-light">Yazarı Güncelle</button>
						</form>
					</div>
				</div>
			</div>
		</div>

	</div>

</div>

