@{
	ViewData["Title"] = "Banner Güncelle";
	Layout = "~/Views/AdminLayout/Index.cshtml";
}
@model UpdateBannerDto

<div class="page-content">
	<div class="container-fluid">

		<!-- page content -->
		<div class="row">
			<div class="col-xl-12">

				<div class="card">
					<div class="card-body">

						<h4 class="card-title">Banner Güncelleme Sayfası</h4>
						<p class="card-subtitle mb-4">Banner ile ilgili temel bilgileri eksiksiz doldurmanız önemlidir. Veri girişlerinden sonra güncelle butonuna tıklayarak işlemi tamamlayabilirsiniz.</p>

						<form method="post">
							<input type="hidden" asp-for="BannerId" />
							<div class="form-group">
								<label for="exampleInputModel">Başlık </label>
								<input type="text" class="form-control" asp-for="Title" id="exampleInputBannerTitle" placeholder="Banner adı yazınız.">
								<label for="exampleInputModel">Açıklama</label>
								<input type="text" class="form-control" asp-for="Description" id="exampleInputBannerDesciption" placeholder="Banner açıklaması yazınız.">
								<label for="exampleInputModel">Video Açıklama</label>
								<input type="text" class="form-control" asp-for="VideoDescription" id="exampleInputBannerVideoDescription" placeholder="Videonun açıklamasını giriniz">
								<label for="exampleInputModel">Video Url</label>
								<input type="text" class="form-control" asp-for="VideoUrl" id="exampleInputBannerVideoUrl" placeholder="Videonun youtube embed linkini giriniz.">

							</div>
							<button type="submit" class="btn btn-success waves-effect waves-light">Banneryı Güncelle</button>

						</form>

					</div> <!-- end card-body-->
				</div> <!-- end card-->

			</div>
			<!-- end card-body-->
		</div>
		<!-- end card -->

	</div>

</div>

